/**
 * More polished style for ViewGit
 *
 * @author John Lawrence <mail@johnlawrence.net>
 */
body {
	font-family: "Helvetica", Arial, sans-serif;
	color: black;
	background-color: white;
	margin: 0px;
	font-size: 80%;
}

a {
	color: #c00;
}

a.tree_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('images/silk/chart_organisation.png') no-repeat 50% 50%;
}

a.tar_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('images/silk/page_white_compressed.png') no-repeat 50% 50%;
}

a.zip_link{
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('images/silk/page_white_zip.png') no-repeat 50% 50%;
}

a.cdiff_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('images/silk/commit_diff.png') no-repeat 50% 50%;
}

a.patch_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('images/silk/page_white_code_red.png') no-repeat 50% 50%;
}

h1 {
	font-size: 130%;
}

h1 a {
	text-decoration: none;
}

h2 {
	font-size: 115%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr.even {
	background-color: #f8f8f8;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

table tr.odd td, table tr.even td {
	padding: 3px 2px;
}

table tbody tr:hover {
	background-color: #e0ffe0;
}

form#login table tbody tr:hover {
	background-color: inherit;
}

table th {
	background-color: #cfcfcf;
	text-align: left;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
	padding: 6px 2px;
}

.notices {
	padding-left: 1em;
	margin: 0;
}

.notices p {
	margin: 0;
	padding: 0;
}

.notices .error {
	background-color: #f77;
}

.notices .info {
	background-color: #ff7;
}

.notices .warning {
	background-color: #fc7;
}

.nav {
	font-size: 1.4em;
	padding: 20px;
	margin: 0;
	background:#333 url('images/viewgit.png') no-repeat 98% 50%;
	border-bottom: 1px solid #000;
	color: #eee;
}

.nav a {
	text-decoration: none;
	color: #4d4;
	font-size: 1.2em;
	font-weight: bold;
}

div#page_body {
	margin: 10px 20px;
}

.pagenav {
	margin-top: 0.3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.pagenav a {
	text-decoration: none;
}

.pagenav a:hover {
	text-decoration: underline;
}

.pagenav .cur {
	font-weight: bold;
}

.search {
	display: inline;
}

.ad {
	margin-top: 20px;
	text-align: center;
	font-size: 80%;
}

span.label {
	font-size: 80%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.5em;
	font-weight: bold;
}

span.head {
	background-color: #afa;
	border-right: 1px solid #090;
	border-bottom: 1px solid #090;
}

span.remote {
	background-color: #faf;
	border-right: 1px solid #909;
	border-bottom: 1px solid #909;
}

span.tag {
	background-color: #ffa;
	border-right: 1px solid #990;
	border-bottom: 1px solid #990;
}

/* index template */
table a.project_allow {
    padding-left: 20px;
    background: url('images/silk/key.png') no-repeat 0 50%;
}

table a.project_deny {
    padding-left: 20px;
    background: url('images/silk/lock.png') no-repeat 0 50%;
}

/* summary template */

table.shortlog th.date {
	width: 15%;
	white-space: pre;
}

table.shortlog th.author {
	width: 15%;
}

table.heads th.date {
	width: 15%;
}

/* commit template */

.filelist .commit_add {
    padding-left: 20px;
    background: url('images/silk/page_white_add.png') no-repeat 0 50%;
}

.filelist .commit_copy {
    padding-left: 20px;
    background: url('images/silk/page_white_copy.png') no-repeat 0 50%;
}

.filelist .commit_delete {
    padding-left: 20px;
    background: url('images/silk/page_white_delete.png') no-repeat 0 50%;
}

.filelist .commit_edit {
    padding-left: 20px;
    background: url('images/silk/page_white_edit.png') no-repeat 0 50%;
}

.filelist .commit_rename {
    padding-left: 20px;
    background: url('images/silk/page_white_go.png') no-repeat 0 50%;
}

.filelist .commit_type {
    padding-left: 20px;
    background: url('images/silk/page_white_wrench.png') no-repeat 0 50%;
}

.filelist .commit_unmerge {
    padding-left: 20px;
    background: url('images/silk/arrow_divide.png') no-repeat 0 50%;
}

.filelist .commit_unknown {
    padding-left: 20px;
    background: url('images/silk/page_white_error.png') no-repeat 0 50%;
}

/* commitdiff template */

.commitmessage {
	border:1px solid #999;
	background:#ffe;
	padding: 0 0.5em;
	margin: 0.5em;
	font-size: 1.2em;
}

div.diff {
	font-size: 1.2em;
}

.diff .add {
	color: green;
}

.diff .del {
	color: red;
}

.diff .pos {
	color: purple;
}

.diff .etc {
	color: #999;
}

/* tree template */
table.tree th.perm {
	width: 10%;
}

table.tree th.dl {
	width: 10%;
}

table.tree .dir a.item_name{
	padding-left: 20px;
	background: url('images/silk/folder.png') no-repeat 0 50%;
}

table.tree .blob a.item_name{
	padding-left: 20px;
	background: url('images/silk/page_white_text.png') no-repeat 0 50%;
}

/* viewblob template */
.file {
	border:1px solid #999;
	background:#ddd;
	padding: 0 0.5em;
	margin: 0.5em;
	font-size: 1.2em;
}

/* Login Form */
#login fieldset {
	border-style: none;
	padding: 0;
}

#login fieldset label {
	display: block;
	float: left;
	width: 8em;
	margin: 3px 0;
}

#login fieldset input {
	margin: 4px 0;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
	width: 12em;
}

/* Logout Plugin */
.nav #logout {
    float: right;
    font-size: .8em;
    padding-top: .4em;
    padding-right: 137px;
}

.nav #logout a {
    font-size: 1em;
    margin-left: 17px;
}

.nav #logout a:hover {
    text-decoration: underline;
}

/* User Admin */
dl.viewuser dt {
    float: left;
    clear: left;
    width: 5em;
}

dl.viewuser dd {
    float: left;
}

a.user_view, a.user_add, a.user_edit, a.user_auth,
a.user_delete, .user, .user_admin, .user_disabled,
a.userlist, a.user_settings, a.change_pass {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

table.userlist a.user_view, table.userlist a.user_edit,
table.userlist a.user_auth, table.userlist a.user_delete {
    padding-top: 16px;
    padding-left: 0px;
    height: 0px;
    width: 22px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

a.userlist {
    background-image: url('images/silk/report_user.png');
}
a.user_view {
    background-image: url('images/silk/user.png');
}
a.user_add {
    background-image: url('images/silk/user_add.png');
}
a.user_edit {
    background-image: url('images/silk/user_edit.png');
}
a.user_auth {
    background-image: url('images/silk/key.png');
}
a.user_delete {
    background-image: url('images/silk/user_delete.png');
}
a.user_settings {
    background-image: url('images/silk/user.png');
}
a.change_pass {
    background-image: url('images/silk/key.png');
}

.user {
    background-image: url('images/silk/user.png');
}
.user_admin {
    background-image: url('images/silk/user_suit.png');
}
.user_disabled {
    background-image: url('images/silk/user_gray.png');
}

/* User Form */
form.user_settings fieldset {
    border-style: none;
    padding: 0;
}

form.user_settings fieldset input {
	vertical-align: middle;
}

/* Two column forms */
fieldset.two_column label, fieldset.two_column .label_inline {
    display: block;
    float: left;
    width: 8em;
    margin: 4px 0;
}

fieldset.two_column label.field_inline {
    display: inline;
    margin-left: 0;
    width: auto;
}

fieldset.two_column input {
    margin: 4px 0;
    vertical-align: middle;
}

fieldset.two_column select {
    margin: 3px 0;
}

fieldset.two_column input[type="text"], fieldset.two_column input[type="password"] {
    width: 12em;
}

fieldset.two_column br {
    clear: left;
}
